@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto+Slab:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: 'Roboto Slab', sans-serif;
  line-height: 1.5;

  color: #ebe7ef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: radial-gradient(
      rgba(241, 210, 70, 0.98),
      rgba(250, 176, 103, 0.87)
    );

  background-repeat: repeat;
  background-size: 100% 100%, 30% 30%, 100% 100%;
  min-height: 110rem;
}

header {
  text-align: center;
}

h1 {
  font-family: 'Caprasimo', cursive;
  font-size: 3rem;
  margin: 0 auto 3rem auto;
  color: #3f3b00;
}

.center {
  display: flex;
  justify-content: center;
}

.letter {
  width: 3rem;
  height: 3rem;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 3px;
  text-align: center;
  font-size: 2rem;
}

.key-group {
  display: flex;
}

li {
  list-style-type: none;
}

#keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}